<div class="modal">
	<div class="title">Create new board</div>
	<div class="input-section">
		<div class="input-block">
			<label>Title</label>
			<input class="control" type="text" placeholder="Enter name of new board" #title>
		</div>
		<div class="input-block">
			<label>Team</label>
			<select class="control" type="text" placeholder="Enter name of new board" #team>
				<option disabled>Choose team</option>
			</select>
		</div>
	</div>
	<div class="controls">
		<button (click)="createBoard(title.value, team.value)">Add</button>
		<button (click)="closeModal()">Close</button>
	</div>
</div>