<div class="modal">
	<div class="title">Create new board</div>
	<div class="input-section">
		<div class="input-block">
			<label>Title</label>
			<input (keyup.enter)="createBoard(title.value, team && team.value)" autofocus class="control" type="text" placeholder="Enter name of new board" #title>
		</div>
		<!-- <div class="input-block">
			<label>Team</label>
			<select class="control" type="text" placeholder="Enter name of new board" #team>
				Choose team
				<option disabled></option>
			</select>
		</div> -->
	</div>
	<div class="controls">
		<button class="button-primary" (click)="createBoard(title.value, team && team.value)">Add</button>
		<button class="button-warn" (click)="closeModal()">Close</button>
	</div>
</div>