@import 'nib'

global-reset()

$footerHeight = 64px
$headerHeight = 30px
$mainColor = #68B3E8


button
	cursor pointer
	background none
	border none
	&:focus
		outline none

*
	box-sizing border-box

body
	font 18px Helvetica, Arial, sans-serif
	min-height 100%
	height auto
	position relative
	
html
	height 100%
	
footer
	absolute bottom
	height $footerHeight
	width 100%
	font-size 12px 
	text-align center
	line-height @height
	background-color $mainColor
	
main
	padding-top $headerHeight
	padding-bottom $footerHeight
	text-align center
	
a
	text-decoration none
	&:hover
		color inherit
		
h1 
	font-weight 700
	font-size 32px
	
h2 
	font-weight 400
	font-size 24px
		
input
	outline none
	border 1px solid $mainColor
	color $mainColor
	background-color rgba(172, 163, 163, 0.2)
	padding 5px 15px
	border-radius 25px
	transition .15s ease-in-out
	&:hover
		background-color rgba(172, 163, 163, 0.1)
	&:focus
		outline none
		background-color #fff

select
	@extend input

header
	absolute top
	width 100%
	height $headerHeight
	background-color $mainColor
	line-height @height
	padding 0px 15px
	
.wavy-border
	position absolute
	height 12px
	bottom $footerHeight
	width 100%
	background-image url('./wavy-border.png')
	background-position left bottom
	background-repeat repeat-x
	
.ng-valid[required]
	border-left 5px solid #42A948
	
.form-control
	width 200px
	border-radius 4px
	border 1px solid #ccc
	height 20px
	line-height @height

.ng-invalid
	border-left 5px solid #a94442
	
.button 
	border 2px solid
	padding 5px 10px
	border-radius 25px
	background-color #fff
	transition .3s ease
	cursor pointer
	&:hover 
		color #fff
	&:focus
		outline none

.button-primary
	@extend .button
	color $mainColor
	border-color $mainColor
	&:hover
		background-color $mainColor

.button-warn
	@extend .button
	color indianred
	border-color indianred
	&:hover
		background-color indianred