$buttonColor = #68B3E8

.button {
	color $buttonColor
	border 2px $buttonColor solid
	padding 10px
	border-radius 25px
	background-color #fff
	transition .3s ease
	&:hover {
		background-color $buttonColor
		color #fff
		border-color #fff
	}
}