<div class="columns-container">
	<ul class="columns-list">
		<li class="inline column" *ngFor="let column of currentBoard.columns">
			<div class="column-header">
				<p class="column-title">{{ column.title }}</p>
				<p class="cross" (click)="deleteColumn(column.id)">˟</p>
			</div>
			<ul class="card-list">
				<li [class.complete]="card.done" class="card" *ngFor="let card of column.cards">
					<div class="card-header">
						<p class="card-title">{{ card.title }}</p>
						<p class="cross" (click)="deleteCard(card.id)">˟</p>
					</div>
					<select (change)="moveToColumn(card.id, $event.target.value)">
						<option disabled selected>Move to...</option>
						<option *ngFor="let col of currentBoard.columns">{{ col.title }}</option>
					</select>
					<div class="checkbox" (click)="toggleCardState(card.id, card.done)"></div>
				</li>
			</ul>
			<input class="card-input" #newCard (keyup.enter)="addCard(newCard.value, column.id)" type="text" placeholder="Add new card...">
		</li>
		<li class="inline">
			<input #newColumn (keyup.enter)="addColumn(newColumn.value)" type="text" placeholder="Add new column...">
		</li>
	</ul>
</div>